<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!-- plugin.xml file written by dynaTrace Client 6.0.0 -->
<plugin>
  <extension point="com.dynatrace.diagnostics.pdk.pluginconfig" id="com.dynatrace.diagnostics.plugin.BaloiseMonitor" name="Baloise Monitor Plugin">
    <information>
      <category value="" />
      <description value="A monitor that allows for the retrieval of the netto results from the purepath time minus the client wait time generated in the fat client as well as separations of response time into different block" />
      <supportlevel value="unsupported" />
      <displayname value="Baloise Monitor Plugin" />
    </information>
    <configuration>
      <property key="dtServer" label="Dynatrace Server" type="string" description="The dynatrace server to test plugin in" default="localhost" multiline="false" />
      <property key="username" label="Username" type="string" description="The dynatrace username. This is necessary in order to access the server's RESTful interface&#xA;" default="" multiline="false" />
      <property key="password" label="Password" type="password" description="The password of the corresponding username. Necessary in order to access the Dynatrace RESTful interface" default="" />
      <property key="dashboardName" label="Dashboard Name" type="string" description="The dashboard needs to contain a purepath dashlet and have a very high setting for returned lines and levels (dashboard properties - reporting - advanced details)" default="" multiline="false" />
      <property key="SubtractMethod" label="Subtract Wait time for method" type="string" description="Enter the method where you want to subtract the wait time from the pure path response time" default="runEventLoop(org.eclipse.swt.widgets.Shell)" multiline="false" />
      <property key="buckets" label="Bucket definition" type="string" description="My property description ..." default="1000,2000,3000,4000,5000,10000,15000" multiline="false" />
    </configuration>
  </extension>
  <extension point="com.dynatrace.diagnostics.pdk.monitor" id="com.dynatrace.diagnostics.plugin.BaloiseMonitor.monitor" name="BaloiseMonitor">
    <plugin configid="com.dynatrace.diagnostics.plugin.BaloiseMonitor" class="com.dynatrace.diagnostics.plugin.IPlanetMonitor" />
  </extension>
  <extension point="com.dynatrace.diagnostics.pdk.monitormetricgroup" id="com.dynatrace.diagnostics.plugin.BaloiseMonitor.NetDiff" name="NetDiff">
    <metricgroup monitorid="com.dynatrace.diagnostics.plugin.BaloiseMonitor.monitor">
      <metric defaultrate="purepath" name="netDiff" unit="ms" description="The net difference between the purepath time minus the user wait time in the Baloise wait time" />
      <metric defaultrate="purepath" name="Bucket" unit="occurrences" description="My metric description ..." />
    </metricgroup>
  </extension>
</plugin>
